// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login {
  border-radius: .5em;
  background-color: white;
  opacity: .95;
  height: 75vh;
}

.register {
  border-radius: .5em;
  background-color: white;
  opacity: .95;
  height:130vh;
}


.new-visual {
  border-radius: .5em;
  background-color: white;
  opacity: .95;
  height: 95vh;
}

.edit {
  border-radius: .5em;
  background-color: white;
  opacity: .95;
  height: 105vh;
}

 .user-visuals {
  background-color: white;
  opacity: .95;
  height: 195vh;
}

.show-visuals {
 background-color: white;
 opacity: .95;
 height: 210vh;
}

.sign_up {
  font-size: 1.25em;
  color: black;

}


.home_buttons {
  border-radius: .15em;
 color: white;
 font-size: 1.25em;
 margin-top: 1em;
 padding: .25em;

}
