// Place all the styles related to the visuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.home_buttons {
  color: white;
}

.click-color {
  color: #d633ff;
}


.container .row.card-margin {
  margin: 0;
}

.visual-owner {
  font-family: 'Anton', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: .5em 0 .5em .5em;
  padding-top: .5em;
}

.visual-title {
  font-family: 'Anton', sans-serif;
  font-size: 1.75em;
  line-height: 1.5em;
}

.visual-description {
  font-size: 1.25em;
  line-height: 1.25em;
}

.visuals {
  font-size: 1.25em;
  margin-bottom: 1em;
  padding-left: 1.15em;
}

.user-data {
  font-size: 1em;
  margin: 1em 0;
}

.max-tall {
  height: 25em;
}

.visuals a {
  color: #000;

  &:visited {
    color: #000;
  }

  &:hover {
    color: #fff;
    background-color: #d633ff;
    padding: .25em;
  }
}
